:root {
  --background-deep-blue: #000000;
  --card-medium-blue: #1A2CA3;
  --accent-bright-blue: #2845D6;
  --cta-orange: #F68048;
  
  --text-primary: #FFFFFF;
  --text-secondary: #E0E0E0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background-deep-blue);
  color: var(--text-primary);
}

#root {
  width: 100%;
  min-height: 100vh;
}
